#menu {
  display : flex;
  justify-content: flex-end;
  font-family: Raleway, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  li {
    margin-top:1rem;
    list-style-type: none;
    padding-right: 2rem;
    padding-left: 6rem;
    &#logoSmall {
      font-size: 22px;
      font-weight: 700;
    }
  }
}