h1 {
  padding-top: 10rem;
  padding-left: 35rem;
  color:#FFFFFF;
  font-family: Raleway, serif;
  font-style: normal;
  font-size:70px;
  font-weight: 600;
  .barre {
    text-decoration: line-through #BC9A44;
  }
}